* {
    background-color: black;
    color: white;
}

h1,h2,h3,h4 {
    text-transform: uppercase;
    color: #3772FF;
}

h1 {
    text-decoration: underline;
    font-family: "Times New Roman";
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.desc {
    color: red;
}